 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                        I am Nicolas, an aspiring Data Scientist & Machine Learning Engineer at 
                        <a href="https://www.telecom-paris.fr/fr/masteres-specialises/formation-big-data" style="color:#32884c;" target="_blank" > Télécom Paris. </a> <br>
                        With a multidisciplinary background, and good relation skills I can adapt to a variety of different environments and projects.  </p>
                </div>
                <div class="col-lg-4">
                    <p>Extremely motivated and eager to further develop my knowledge in a professional environment, I am looking for a six month internship  in the field of big data analytics. <br>
                       Feel free to look around, check out my portfolio and get in touch.
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="cv/nicolas_gallay_resume.pdf" target="_blank" class="btn btn-lg btn-outline">
                        <i class="fa fa-download" ></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
